<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @email.name %>!</h1>
    <p>
      Your dragon has hatched. Time to conquer Westeros.
    </p>
  </body>
</html>