<!DOCTYPE html>
<html>
<head>
  <title>Karate Kid Asset Pipeline Tournament</title>
  <%= stylesheet_link_tag    "application", params[:controller] %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
