<div class="email-form">
	
	<%= form_for :email, {:url => '/emails/emailform'} do |e| %>
		<%= e.text_field :name, placeholder: "Name" %>
		<%= e.text_field :address, placeholder: "Email Address" %>
		<%= e.submit "Get an email" %>
	<% end %>


</div>