<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @email.name %>!</h1>
    <p>
      You have successfully signed up to receive emails from Hogwarts School of Witchcraft and Wizardry! Sorry, our owl is broken.
    </p>
  </body>
</html>