<div class="container-fluid">
  <h2>Welcome to Hogwarts</h2>
  <%= image_tag 'HogwartsCrest.png' %>
</div>
<div class="container-fluid">
  <div class="col-md-4">
    <div class="harry">
    </div>
  </div>
  <div class="col-md-4">
    <div class="ron">
    </div>
  </div>
  <div class="col-md-4">
    <div class="hermoine">
    </div>
  </div>

</div>
<div class="container-fluid">
  

</div>